<div class="row">
    <div class="col col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">
                Loại Bài Viết
                <a href="/admin/typeArt/add" class="btn btn-success float-right">
                    Add <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>
</div>
<div class="wrap" id="showCate">
    <div class="row">
        <div class="col col-sm-12">
            {{#if err}}
            <div class="alert alert-danger">
                {{mes}}
            </div>

            {{else}}
            <table style="text-align: center;" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số Bài Viết</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allType}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <th scope="row">
                            <a style="width: 150px;" class="btn btn-success" href="/admin/articles?id_type={{this.id}}">{{this.name}}</a>
                        </th>
                        <th scope="row">{{this.sl}}</th>
                        <td class="action">
                            <a href="/admin/typeArt/edit/{{this.name}}" class="btn btn-warning">
                                <i class="fa fa-edit"></i>
                            </a>
                            <form action="/admin/typeArt/del" method="POST">
                                <input name="id" type="hidden" value="{{this.id}}">
                                <button class="action_del {{#if this.isDel}} disabled  {{/if}}" type="submit"> <i
                                        class="fa fa-trash"></i> </button>
                            </form>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
    </div>

</div>