{{#if isHas }}
<div class="row mb-3">
    <div class="col col-sm-12">
        <div class="alert alert-danger">Dont have any data</div>
    </div>
</div>

{{else}}
<div class="row ">
    <div class="col col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">
                Writer
                <a href="/admin/writer/add" class="btn btn-success float-right">
                    Add <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>
</div>
<div class="wrap" id="showWrite">
    <div class="row">
        <div class="col col-sm-12">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Bút Danh</th>
                        <th scope="col">Số Bài Đã Viết</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listWriter}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td ><a style="width: 80% !important;" class="btn btn-primary btn-set"
                                href="/admin/writer/view/{{this.id}}">{{this.name}}</a>
                        <td>{{this.pseudonym}}</td>
                        <td>{{this.sum}}</td>
                        <td class="action">
                            <a href="/admin/writer/art/id/{{this.id}}" class="btn btn-warning">
                                <i class="fa fa-eye"></i>
                            </a>
                            <form action="/admin/writer/del" method="POST">
                                <input name="id" type="hidden" value="{{this.id}}">
                                <button class=" action_del {{#if this.isDel}} disabled  {{/if}}" type="submit"> <i
                                        class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row footer">
        <div class="col col-sm-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{#if preDis}} disabled {{/if}}">
                        <a class="page-link" href="/admin/writer?page={{prePage}}"  tabindex="-1">Previous</a>
                    </li>
                    {{#each numPage}}
                    <li  class="page-item {{#if this.isActive}} active {{/if}}"><a
                        href="/admin/writer?page={{this.val}}"     class="page-link">{{this.val}}</a></li>
                    {{/each}}
                    <li class="page-item {{#if nextDis}} disabled {{/if}}">
                        <a href="/admin/writer?page={{nextPage}}" class="page-link ">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>



{{/if}}