{{#if isHas }}
<div class="row mb-3">
    <div class="col col-sm-12">
        <div class="alert alert-danger">Dont have any data</div>
    </div>
</div>

{{else}}
<div class="row">
    <div class="col col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">
                {{tagName}}
                <a href="/admin/tags/edit/{{id}}" class="btn btn-success float-right">
                    Add
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>
</div>
{{!-- <div class="wrap" id="showCate"> --}}
    <div class="row">
        <div class="col col-sm-12">
            <table style="text-align: center;" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên Bài Viết</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detailTag}}
                    <tr>
                        <td>{{this.Articles_id}}</td>
                        <td>{{this.title}}</td>
                        <td class="action">
                            <form action="/admin/tags/detail/del" method="POST">
                                <input name="Articles_id" type="hidden" value="{{this.Articles_id}}">
                                <input name="Tags_id" type="hidden" value="{{this.Tags_id}}">
                                <button class=" action_del" type="submit"> <i class="fa fa-trash"></i>
                                </button>
                            </form>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row footer">
        <div class="col col-sm-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{#if preDis}} disabled {{/if}}">
                        <a class="page-link" href="/admin/tags/detail/{{id}}?page={{prePage}}" tabindex="-1">Previous</a>
                    </li>
                    {{#each numPage}}
                    <li
                        class="page-item {{#if this.isActive}} active {{/if}}">
                        <a href="/admin/tags/detail/{{this.id}}?page={{this.val}}" class="page-link">{{this.val}}</a></li>
                    {{/each}}
                    <li class="page-item {{#if nextDis}} disabled {{/if}}">
                        <a href="/admin/tags/detail/{{id}}?page={{nextPage}}" class="page-link ">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{{!-- </div> --}}


{{/if}}