{{#each this.articleByCategoryMostView_10}}
<div>
    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">{{name}}</div>
</div>
<div class="row pb-4 card-article" onclick="window.location='/articles/detail/{{id}}'">
    <div class="col-md-5">
        <div class="fh5co_hover_news_img">
            <div class="fh5co_news_img"><img src="/public{{small_avt}}" alt="" /></div>
        </div>
    </div>
    <div class="col-md-7 d-flex flex-column">
        <a href="/articles/detail/{{id}}" class="fh5co_magna py-2">
            {{title}}
        </a>
        <a href="/articles/detail/{{id}}" class="fh5co_mini_time py-3">
            Thomson Smith - April 18,2016
        </a>
        <div class="fh5co_consectetur">
            {{sum_content}}
        </div>
    </div>
</div>
{{/each}}
<div class="row mx-0" data-animate-effect="fadeInUp">
    <div class="col-12 text-center pb-4 pt-4 no-copy">
        <a href="javascript:;" class="btn_mange_pagging {{#if preDisable}}button-disabled{{/if}}"
            onclick="clickPaging({{pagePre}})">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {{#each this.pageItems}}
        <a href="javascript:;" onclick="clickPaging({{value}});"
            class="btn_pagging {{#if isActive}}paging-active{{/if}}">{{value}}</a>
        {{/each}}
        <a href="javascript:;" class="btn_mange_pagging {{#if nextDisable}}button-disabled{{/if}}"
            onclick="clickPaging({{pageNext}})">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
{{#section 'js'}}
<script>
    function clickPaging(page) {
        let articleByCategoryMostView = document.getElementById('articleByCategoryMostView');
        $.getJSON('/articleByCategoryMostView-paging/' + page, function (data) {
            articleByCategoryMostView.innerHTML = data.html;
        })
    }
</script>
{{/section}}