<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <link rel="icon" href="https://f0.pngfuel.com/png/982/55/white-laptop-icon-png-clip-art.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

        * {
            box-sizing: border-box;
        }

        body {
            background: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: "Monica";
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: large;
        }

        .form-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #FFF;
            width: 500px;
            padding: 20px 40px;
            border-radius: 12px;
            box-shadow: 3px 12px 24px rgba(0, 0, 0, .4);
            position: relative;
        }

        .input-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
        }

        .input-group label {
            margin-bottom: 4px;
            font-weight: bold;
        }

        .input-group input {
            background-color: #EEE;
            border: none;
            outline: none;
            padding: 8px 12px;
        }

        .form-profile .btn-save {
            display: inline-block;
            border: none;
            background-color: #FF4B2B;
            font-weight: bold;
            color: #FFF;
            padding: 12px 20px;
            width: 120px;
            margin: 0.8rem 0;
            border-radius: 50px;
        }

        .btn-come-back,
        .btn-come-back:hover {
            position: absolute;
            top: 10px;
            left: 20px;
            color: #000;
            font-size: 30px;
        }

        button {
            cursor: pointer;
            outline: none;
        }

        a,
        a:hover {
            cursor: pointer;
            text-decoration: none;
        }
    </style>

<body>
    <form method="POST" action="/account/updateProfile" class="form-profile" id="frmProfile">
        <span style="font-family: Monaco;">
            <h1 style="font-size: 40px; font-weight: bold;">Profile</h1>
        </span>
        <div class="input-group">
            <label for="txtUsername">Username:</label>
            <input value="{{user.username}}" name="username" id="txtUsername" type="text" readonly required />
        </div>
        <div class="input-group">
            <label for="txtName">Name:</label>
            <input value="{{user.name}}" name="name" id="txtName" type="name" required />
        </div>
        {{#if isWriter}}
        <div class="input-group">
            <label for="txtPseudonym">Pseudonym:</label>
            <input value="{{user.pseudonym}}" name="pseudonym" id="txtPseudonym" type="text" required />
        </div>
        {{/if}}
        <div class="input-group">
            <label for="txtEmail">Email:</label>
            <input value="{{user.email}}" name="email" id="txtEmail" type="email" required />
        </div>
        <div class="input-group">
            <label for="txtDOB">Day of birth:</label>
            <input value="{{user.dob1}}" name="dob" id="txtDOB" type="dob" required />
        </div>
        <button type="submit" class="btn-save" role="button" title="Edit Account">
            Save
        </button>
        <div style="width: 100%">
            <a href="/account/changepass">Changing Your Password?</a>
        </div>
        <a href="/" class="btn-come-back">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        {{#if this.isSubcriber}}
        {{/if}}
        {{#if this.isWriter}}
        <a href="/writer" class="btn-come-back">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if this.isEditor}}
        <a href="/editor" class="btn-come-back">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        {{/if}}
        {{#if this.isAdmin}}
        <a href="/admin/dashboard" class="btn-come-back">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        {{/if}}
    </form>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>

        $(document).ready(() => {
            $('#txtDOB').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true,
            });
            $('#txtDOB').datepicker('setDate', new Date());
            $('#checkEmail').hide()
        })


        $('#frmProfile').on('submit', function (e) {
            e.preventDefault();
            isValidate()
        });

        function isValidate() {

            const email = $('#txtEmail').val()
            $.getJSON(`/account/checkEmailUpdate?email=${email}`, (data) => {

                if (data) {
                    $('#frmProfile').off('submit').submit()
                } else {
                    $('#checkEmail').show()
                }
            })

        }




    </script>
</body>