<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                        {{categoriesSubByID.parentName}} > {{categoriesSubByID.subName}}
                    </div>
                </div>
                {{#if isEmpty}}
                <h3>Không có dữ liệu</h3>
                {{else}}
                {{#each allArticleByCategorySub}}
                <div class="row pb-4 card-article"
                    onclick="checkPremiumAndUpdateView({{id}}, {{views}}, {{isPremium}}, {{../isLogin}});">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="/public{{small_avt}}" alt="" /></div>
                        </div>
                    </div>
                    <div class="col-md-7 d-flex flex-column">
                        <a href="javascript:;" class="fh5co_magna py-2" style="padding: 0 !important;">
                            {{#if isPremium}}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {{/if}}
                            {{title}}
                        </a>
                        <div class="d-flex align-items-center align-center">
                            <div class="d-flex align-items-center">
                                <div class="box-category" onclick="event.stopPropagation();">
                                    <a href="/articles/bycate?id={{csId}}"
                                        style="color: #424040; border: solid 1px #424040;">
                                        {{csName}}
                                    </a>
                                </div>
                            </div>&nbsp;&nbsp;
                            <a href="javascript:;" class="fh5co_mini_time py-3" style="padding: 8px 0 !important">
                                <i class="fa fa-clock-o"></i>
                                {{datePost}}
                            </a>&nbsp;-&nbsp;
                            <a href="javascript:;" class="fh5co_mini_time py-3" style="padding: 8px 0 !important">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                {{nCmt}}
                            </a>&nbsp;-&nbsp;
                            <a href="javascript:;" class="fh5co_mini_time py-3" style="padding: 8px 0 !important">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{views}}
                            </a>
                        </div>
                        <div class="fh5co_consectetur" style="margin-bottom: 8px;">
                            {{sum_content}}
                        </div>
                        <div class="tags">
                            <span>Tags: </span>
                            {{#each tags}}
                            <div class="tag-item" onclick="event.stopPropagation();">
                                <a href="/articles/bytag?id={{id}}&page=1">{{tag_name}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}

                {{/if}}
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    {{#each this.tags_15}}
                    <a href="/articles/bytag?id={{id}}&page=1" class="fh5co_tagg">{{tag_name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 text-center pb-4 pt-4">
                <a href="/articles/bycate?id={{categorySub_id}}&page={{prePage}}"
                    class="btn_mange_pagging {{#if preDisable}}button-disabled{{/if}}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                {{#each pageItems}}
                <a href="/articles/bycate?id={{../categorySub_id}}&page={{this.value}}"
                    class="btn_pagging {{#if isActive}}paging-active{{/if}}">{{this.value}}</a>
                {{/each}}
                <a href="/articles/bycate?id={{categorySub_id}}&page={{nextPage}}"
                    class="btn_mange_pagging {{#if nextDisable}}button-disabled{{/if}}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{{#section 'css'}}
<style>
    .tags {
        font-size: 14px;
    }

    .tags .tag-item {
        font-size: 13px;
        display: inline-block;
        color: #000;
    }

    .tags .tag-item a {
        color: inherit;
        opacity: 0.6;
        transition: all 0.3s;
    }

    .tags .tag-item:hover a {
        color: #F5BC04;
    }

    .tags .tag-item:not(:last-child):after {
        content: ',';
        font-size: 13px;
    }
</style>
{{/section}}