
<div class="row ">
    <div class="col col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">
                Editor
                <a href="/admin/editor/register/add" class="btn btn-success float-right">
                    Add Editor <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>
</div>

<div class="wrap" id="showEditor">
    <div class="row">
        <div class="col col-sm-12">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Username</th>
                        <th scope="col">Ngày Sinh</th>
                        <th scope="col">Số Chuyên Mục Quản Lý</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listEditor}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.username}}</td>
                        <td>{{formatDate this.dob}}</td>
                        <td>{{this.sum}}</td>
                        <td class="action">
                            <a href="/admin/editor/view/{{this.id}}" class="btn btn-warning">
                                <i class="fa fa-eye"></i>
                            </a>
                            <form action="/admin/editor/del" method="POST">
                                <input name="id" type="hidden" value="{{this.id}}">
                                <button class=" action_del {{#if this.isDel}} disabled  {{/if}}" type="submit"> <i
                                        class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row footer">
        <div class="col col-sm-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{#if preDis}} disabled {{/if}}">
                        <a href="/admin/editor?page={{prePage}}" class="page-link" tabindex="-1">Previous</a>
                    </li>
                    {{#each numPage}}
                    <li  class="page-item {{#if this.isActive}} active {{/if}}"><a
                         href="/admin/editor?page={{this.val}}"   class="page-link">{{this.val}}</a></li>
                    {{/each}}
                    <li class="page-item {{#if nextDis}} disabled {{/if}}">
                        <a href="/admin/editor?page={{nextPage}}" class="page-link ">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>

