
<div class="row mb-3">
    <div class="col-sm-12">
        <a href="/admin/categories/add" class="btn btn-success">
            Thêm Phân Công <i class="fa fa-plus-circle"></i> {{nameEditor}}
        </a>
    </div>
</div>
<div class="wrap" id="showCate">
    <div class="row">
        <div class="col col-sm-12">
            {{#if err}}
            <div class="alert alert-danger">
                {{mes}}
            </div>
            {{else}}
            {{#if isHas}}
            <div class="alert alert-danger">
                Dont have any CateControl
            </div>
            {{else}}
            <table style="text-align: center;" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số Chuyên Mục Quản Lý</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each allCate}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td><a class="btn btn-info btn-set" href="/admin/categories/{{this.id}}">{{this.name}}</a></td>
                        <td>{{this.sum}}</td>

                        <td class="action">
                            <a href="/admin/categories/edit/{{this.id}}" class="btn btn-warning">
                                <i class="fa fa-edit"></i>
                            </a>
                            <form action="/admin/categories/del" method="POST">
                                <input name="id" type="hidden" value="{{this.id}}">
                                <button class=" action_del {{#if this.isDel}} disabled  {{/if}}" type="submit"> <i
                                        class="fa fa-trash"></i> </button>
                            </form>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
            {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="row footer">
        <div class="col col-sm-12">

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{#if preDis}} disabled {{/if}}">
                        <a href="/admin/editor/view/{{id_editor}}?page={{prePage}}" class="page-link"  tabindex="-1">Previous</a>
                    </li>
                    {{#each numPage}}
                    <li
                        class="page-item {{#if this.isActive}} active {{/if}}">
                        <a href="/admin/editor/view/{{this.id_editor}}?page={{this.val}}" class="page-link">{{this.val}}</a>
                    </li>
                    {{/each}}
                    <li class="page-item {{#if nextDis}} disabled {{/if}}">
                        <a href="/admin/editor/view/{{id_editor}}?page={{nextPage}}" class="page-link ">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
